{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block container %}
<div class="row">
    <!--formulario-->
    <div class="col-3">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fecha_registro" >Fecha Registro</label>
                <input type="datetime" value="{{ e.fecha_registro }}" name="fecha_registro" id="fecha_registro" class="form-control" required autofocus>
            </div>

            <div class="mb-3">
                <label for="descripcion">Descripcion</label>
                <input type="text" value="{{ e.descripcion }}" name="descripcion" id="descripcion" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="enlace">Enlace</label>
                <input type="text" value="{{ p.enlace }}" name="enlace" id="enlace" class="form-control" required>
            </div>

            <div class="mb-3">
                {% if e %}
                    <input type="submit" class="btn btn-success" value="Actualizar">
                {% else %}
                    <input type="submit" class="btn btn-success" value="Registrar">
                {% endif %}
                
            </div>
        </form>
    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Fecha Registro</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Enlace</th>
                </tr>
            </thead>
            <tbody>
                {% for e in enlace %}

                    <tr>
                        <td class="text-center">{{ e.fecha_registro }}</td>
                        <td class="text-center">{{ e.descripcion }}</td>
                        <td class="text-center">{{ e.enlace }}</td>
                    </tr>
                {% empty %}
                <tr>
                    <td class="text-danger text-center" colspan="">No se encontraron resultados</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock  %}

{% block js %}
{% endblock js %}
